{% extends 'statistics.html' %}
{% block header %}
    <link rel="stylesheet" href="../static/css/add_campaign.css">
{% endblock %}
{% block maincontent %}
    <h1>Fundraising Categories</h1>
   <div class="campaign_table">
    <div class="table-responsive">
        <table>
            <thead style="background-color: #343a40; color: #fff;">
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Campaign Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in campaigns %}
                    <tr>
                        <th scope="row">{{ campaign.id }}</th>
                        <td>{{ campaign.camp_id }}</td>
                        <td>{{ campaign.camp_name }}</td>
                        <td>{{ campaign.camp_status }}</td>
                        <td class="text-right">
                           <a class="btn btn-danger" href="{{ url_for('views.delete_campaign', campaign_id=campaign.id) }}" data-toggle="modal" data-target="#delete">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <div class="custom-button-container">
            <a class="btn custom-button" href="{{ url_for('views.add_new_campaign') }}">Add Campaign Category</a>
        </div>


    </div>
</div>

{% endblock %}
