<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}AmarDaan | Empowering Dreams, Transforming Lives{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

  {% block link %}
  {% endblock %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/navbar.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
        {% if settings.profile_picture %}
                <a href="{{ url_for('views.home') }}"><img class="logo" src="{{ url_for('static', filename=settings.profile_picture) }}"></a>
            {% else %}
                <img class="logo" src="{{ url_for('static', filename='/images/logo.png') }}">
            {% endif %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav" style="height: 60px;">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('views.privacy_policy')}}">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('views.campaign_list')}}">Campaigns</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('views.faq')}}">FAQ</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item" id="user-profile">
                <!-- User profile will be dynamically inserted here -->
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}">Login / Signup</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <button class="btn btn-start-campaign"><a style="text-decoration:none; color:white" href="{{url_for('views.campaign')}}">Start Campaign</a></button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% block content %} {% endblock %}
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
          <script>
            const user = {
                name: "{{ user.username }}",
                imageSrc: 'path/to/user/image.jpg' // Replace with actual user image path
            };

            const userContainer = document.getElementById('user-profile');
            if (userContainer) {
                userContainer.innerHTML = `
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      ${user.name}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a href={{ url_for('views.profile') }} class="dropdown-item" href="#">Profile Setting</a></li>
                      <li><a class="dropdown-item" href="{{url_for('views.dashboard')}}">Dashboard</a></li> <!-- Close double curly braces -->
                      <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a></li> <!-- Close double curly braces -->
                    </ul>
                  </div>
                `;
            }
        </script>
      {% block script %}{% endblock %}
</body>
{% block footer %}
<footer class="footer-section">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="cta-text">
                          <h4>Find us</h4>
                          <span>Daffodil Smart City, Birulia, Savar, Dhaka</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>Call us</h4>
                          <span><a href='tel:01643091606'>01643-091606</a></span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"></i>
                      <div class="cta-text">
                          <h4>Mail us</h4>
                          <span><a href="mailto:amardaan247@gmail.com">amardaan247@gmail.com</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-content pt-5 pb-5">
        <div class="row">
            <div class="col-xl-4 col-lg-4 mb-50">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="index.html"><img src="../static/images/logo.png" class="img-fluid" alt="logo"></a>
                    </div>
                    <div class="footer-text">
{#                        <p>Empowering Bangladesh through Online Crowdfunding. Initiating campaigns for effective change. Join us in creating a better future through the simplicity of generosity. Together, we make a difference. Join AmarDaan today.</p>#}
{#                        <p>Empowering Bangladesh through Online Crowdfunding. Initiating campaigns for effective change. Join us in creating a better future through the simplicity of generosity. Together, we make a difference. Join AmarDaan today.</p>#}
                        <p>{{ settings.about }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                <div class="footer-widget">
                    <div class="footer-widget-heading">
                        <h3>Useful Links</h3>
                    </div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">about</a></li>
                        <li><a href="#">services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{{url_for('views.about_us')}}">About us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Latest News</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                <div class="footer-widget">
                    <div class="footer-widget-heading">
                        <h3>Subscribe</h3>
                    </div>
                    <div class="footer-text mb-25">
                        <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                    </div>
                    <div class="subscribe-form">
                        <form action="{{url_for('views.subscribe_newsletter')}}" method="POST">
                            <input type="email" name="email" placeholder="Email Address">
                            <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"style="fill: #ffff"><path d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"/></svg></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright-area">
            <div class="col-xl-6 col-lg-6 text-center">
                <div class="copyright-text">
                    <p>Copyright &copy; 2024, All Right Reserved | <a href="https://github.com/MamunKhan71">Md. Mamun</a></p>
            </div>
    </div>
</div>
</footer>
{% endblock %}