{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="../static/css/campaign_details.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<div class="page-content ">
  <section class="campaign-title">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="H1">
            Run for Ratan <br> 
          <p>Empower change, join the 'Run for Ratan' campaign and make a lasting impact today!</p>

          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h5 class="campaign_by H10 text-center">
            <div class="part">
              Fundraising campaign by
              <a href="#/user/?uid=1192150" class="owner link">
                Md. Mamun
              </a>
            </div>
            <div class="part">
              <span class="dot d-sm-none d-none d-md-inline-block">
              </span>
              <a href="#/campaigns?country=bd" class="owner link">
                Ashulia, Savar
              </a>
              <span class="dot d-md-inline-block">
              </span>
              <a href="#/category/sports" class="category text-cat-sports">
                Health
              </a>
            </div>
          </h5>
        </div>
      </div>
    </div>
  </section>
  <div id="sticky_menu_stopper">
  </div>
  <section class="campaign-content tabs-sec">
    <div class="container tab-container">
      <div id="tab-content-continer" class="row tab-row">
        <div id="tab-content-area" class="col-lg-8 pr-lg-16">
          <ul id="sticky-tabs" class="tab_count_4 nav nav-tabs scrollmenu  style-oToya" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#campaign-story" role="tab">
                Story
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="tab" href="#campaign-updates" role="tab">
                Updates
                <sup class="count">
                  0
                </sup>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="tab" href="#campaign-donors" role="tab">
                Donors
                <sup class="count">
                  4
                </sup>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#campaign-followers" role="tab">
                Followers
                <sup class="count">
                  0
                </sup>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="campaign-story" role="tabpanel">
              <div id="profileMain">
                <div id="profile" class="style-qP541">
                  <a href="/wp-content/uploads/2023/08/8047957/img/cimg_8047957_1692116677.png" data-gal="prettyPhoto[gal]" id="style-SsfCG" class="style-SsfCG">
                    <img class="img-responsive style-sJOzm" alt="" data-pagespeed-url-hash="2996970203" src="../static/images/header-img-7.jpg" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);" id="style-sJOzm">
                  </a>
                </div>
              </div>
              <div class="heading_with_links">
                <h2 class="H3 text-left">
                  Campaign Story
                </h2>
              </div>
              <div class="story-content-area  style-Y6yLD" id="style-Y6yLD">
                <p style="text-align: justify;">
                  In the quiet town of Hopeville, a heart beats with boundless dreams - Ratan's. At just 10, he was diagnosed with a rare heart condition, but his spirit soared higher than any ailment could reach. Every day, he'd gaze at the horizon, longing to run like the wind.

                </br></br>
                  "Run for Ratan" is more than a campaign; it's a race against time, a sprint towards hope. We envision a world where Ratan's laughter fills the air, where his tiny feet dance with abandon. With your support, we aim to give him the gift of a new heart and a chance to chase his dreams.

                </br></br>
                  Together, let's turn every heartbeat into a promise. Every dollar brings us closer to the finish line. Join us in this journey of love, hope, and unwavering determination. Run alongside Ratan as he races towards a future full of possibilities.

                </br></br>
                  Donate today and let's make Ratan's dreams take flight. Every step counts. Every heartbeat matters. Run for Ratan.
                </p>
                <div class="story_content_spacer">
                </div>
              </div>
              <div class="story-section fundraising_team_section">
                <div class="row">
                  <div class="col-sm-12">
                    <h3 class="H3 text-left section-heading">
                      Organizer 
                    </h3>
                  </div>
                </div>
                <div class="fundraising-team-row">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="member-img" style="background-image:url('../static/images/Mamun\ Formal\ Pic.png')">
                      </div>
                      <div class="member_info">
                        <ul class="list-inline">
                          <li class="d-block d-lg-inline member-name H8 text-left" id="flname1192150">
                            Md. Mamun
                          </li>
                        </ul>
                        <div class="d-none d-lg-block member_info_bottom">
                          <a href="#" class="send-message" onclick="if (!window.__cfRLUnblockHandlers) return false; assign_set_uuiid(1192150);" data-toggle="modal" data-target="#send_msg">
                            <span class="link">
                              Send a message
                            </span>
                          </a>
                        </div>
                      </div>
                      <div class="d-block d-lg-none member_info_bottom">
                        <a href="#" class="send-message" onclick="if (!window.__cfRLUnblockHandlers) return false; assign_set_uuiid(1192150);" data-toggle="modal" data-target="#send_msg">
                          <span class="link">
                            Send a message
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="story-section donors_section">
                <div class="row">
                  <div class="col-sm-12">
                    <h3 class="H5 text-left section-heading">
                      Donors 
                    </h3>
                  </div>
                </div>
                <div id="donors-rows2">
                  <div class="donors-row comment_msg_pre_3942398" id="comment_msg_pre_3942398">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="donor-img img-responsive no-photo-bg">
                        </div>
                        <ul>
                          <li class="donor_name">
                            Mh Limon
                          </li>
                          <li class="donation_date style-TtsKy" id="style-TtsKy">
                            Donated on Aug 20, 2023
                          </li>
                        </ul>
                      </div>
                      <div class="text-right amount_div">
                        <span class="donation_amount">
                          Tk 5000.00
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="donors-row comment_msg_pre_3941655" id="comment_msg_pre_3941655">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="donor-img img-responsive no-photo-bg">
                        </div>
                        <ul>
                          <li class="donor_name">
                            Rafi Ahmed
                          </li>
                          <li class="donation_date style-w1xyh" id="style-w1xyh">
                            Donated on Aug 19, 2023
                          </li>
                        </ul>
                      </div>
                      <div class="text-right amount_div">
                        <span class="donation_amount">
                          Tk 10000.00
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="donors-row comment_msg_pre_3938965" id="comment_msg_pre_3938965">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="donor-img img-responsive no-photo-bg">
                        </div>
                        <ul>
                          <li class="donor_name">
                            Anonymous
                          </li>
                          <li class="donation_date style-Vmb9E" id="style-Vmb9E">
                            Donated on Aug 16, 2023
                          </li>
                        </ul>
                      </div>
                      <div class="text-right amount_div">
                        <span class="donation_amount hidden_amount">
                          Amount Hidden
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <a href="#" id="see_all_donors" class="see_all_donors link">
                    See all donors (4)
                  </a>
                </div>
              </div>
              <div class="sticky-stopper">
              </div>
            </div>
            <div class="tab-pane " id="campaign-updates" role="tabpanel">
              <div class="campaign_updates_section" id="all_updates_div">
                <p class="no-active-campaign-style">
                  No updates for this campaign just yet
                </p>
              </div>
            </div>
            <div class="tab-pane " id="campaign-donors" role="tabpanel">
              <div class="donors_section full-panel">
                <div class="row section-heading-row">
                  <div class="col-8 text-left">
                    <h3 class="section-heading">
                      Donors &amp;&nbsp;Comments
                    </h3>
                  </div>
                  <div class="col-4 text-right">
                    <span class="P10 count donors-count">
                      4 donors 
                    </span>
                  </div>
                </div>
                <div id="donors-rows">
                  <div class="donors-row comment_msg_pre_3942398" id="comment_msg_pre_3942398">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="donor-img img-responsive no-photo-bg">
                        </div>
                        <ul>
                          <li class="donor_name">
                            Éva Szládekné Klintsák
                          </li>
                          <li class="donation_date style-MipGi" id="style-MipGi">
                            Donated on Aug 20, 2023
                          </li>
                        </ul>
                      </div>
                      <div class="text-right amount_div">
                        <span class="donation_amount">
                          Ft5000.00
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="donors-row comment_msg_pre_3941655" id="comment_msg_pre_3941655">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="donor-img img-responsive no-photo-bg">
                        </div>
                        <ul>
                          <li class="donor_name">
                            Guest
                          </li>
                          <li class="donation_date style-5235C" id="style-5235C">
                            Donated on Aug 19, 2023
                          </li>
                        </ul>
                      </div>
                      <div class="text-right amount_div">
                        <span class="donation_amount">
                          Tk 10000.00
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="donors-row comment_msg_pre_3938965" id="comment_msg_pre_3938965">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="donor-img img-responsive no-photo-bg">
                        </div>
                        <ul>
                          <li class="donor_name">
                            Anonymous
                          </li>
                          <li class="donation_date style-qgrgO" id="style-qgrgO">
                            Donated on Aug 16, 2023
                          </li>
                        </ul>
                      </div>
                      <div class="text-right amount_div">
                        <span class="donation_amount hidden_amount">
                          Amount Hidden
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="donors-row comment_msg_pre_3938363" id="comment_msg_pre_3938363">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="donor-img img-responsive no-photo-bg">
                        </div>
                        <ul>
                          <li class="donor_name">
                            Gaszmann Zoltán
                          </li>
                          <li class="donation_date style-t9EY3" id="style-t9EY3">
                            Donated on Aug 15, 2023
                          </li>
                          <li class="donor_msg">
                            <p>
                              legyen 7!, szép szerencsés szám! 
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="text-right amount_div">
                        <span class="donation_amount">
                          Tk 1000.00
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="sticky-stopper">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="campaign-followers" role="tabpanel">
              <div class="followers_section full-panel">
                <div class="row section-heading-row">
                  <div class="col-8 text-left">
                    <h3 class="section-heading">
                      Followers
                    </h3>
                  </div>
                  <div class="col-4 text-right">
                    <span class="P10 count followers-count">
                      0 followers
                    </span>
                  </div>
                </div>
                <div id="followers-rows">
                  <div class="no-active-campaign-style">
                    No Followers Just Yet...
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-content-sidebar" class="col-lg-4 pl-lg-44 d-none d-lg-inline">
          <div id="sticky-area" class="style-AxkHT">
            <div class="right-box">
              <div class="sticky-content-area">
                <div class="campaign-amount-raised">
                  ৳ 18,000
                </div>
                <div class="campaign-amount-goal H10 text-center">
                  raised of ৳ 800,000.00 goal
                </div>
                <div class="campaign-goal-progress">
                  <div class="total-progress">
                    <div class="current-progress" style="width: 2%">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 progress-in-word H10 text-left text-blue">
                      2% Funded
                    </div>
                    <div class="col-md-6 progress-in-word H10 text-right text-grayish-blue">
                      4 Donors
                    </div>
                  </div>
                </div>
                <div class="time-left">
                  <div id="style-SbEmK" class="style-SbEmK">
                    <div class="clock">
                    </div>
                    <div class="time">
                      <span class="P11 d-block text-left">
                        Time left
                      </span>
                      <div class="time_left_div">
                        <span class="days H6 text-left" id="days"></span>
                        <span class="hours H6 text-left" id="hours"></span>
                        <span class="minutes H6 text-left" id="minutes"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="{{url_for('views.get_ssl_session')}}" class="GA4-single-donate-now">
                  <button type="button" class="donate-btn bttn lg-btn pri">
                    DONATE NOW
                  </button>
                </a>
                <div class="share_with_friend">
                  <button type="button" class="bttn sec md-btn outline-blue" data-toggle="modal" data-target="#campaign-share-modal">
                    <span class="icons">
                      <i class="icon i-ws-circle">
                      </i>
                      <i class="icon i-twitter-circle">
                      </i>
                      <i class="icon i-fb-circle">
                      </i>
                    </span>
                    Share with friends
                  </button>
                </div>
                <div id="follow_compaign" class="follow_this_campaign">
                  <button type="button">
                    <i class="icon i-heart">
                    </i>
                    <span id="follow_compaign_text">
                      Follow this campaign
                    </span>
                  </button>
                  <input type="hidden" id="follow_statusfieild" value="0">
                </div>
                <p class="brokersText-4">
                  <span class="bottom_line P12 text-center d-block">
                    You only have the opportunity to donate to this campaign before 
                    <span class="end_time" id="endtime">
                      Tuesday Nov 14, 11:59 pm UTC
                    </span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="donate-now-sticky d-block d-lg-none">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item p-0 m-0">
        <button type="button" class="share_with_friend bttn md-btn sec outline-blue" data-toggle="modal" data-target="#campaign-share-modal">
          <span class="icons">
            <i class="icon i-ws-circle">
            </i>
            <i class="icon i-twitter-circle">
            </i>
            <i class="icon i-fb-circle">
            </i>
          </span>
          Share
        </button>
      </li>
      <li class="list-inline-item p-0 m-0">
        <a href="{{url_for('views.get_ssl_session')}}" class="asidebtn act-btn GA4-single-donate-now" onclick="if (!window.__cfRLUnblockHandlers) return false; ga('send', 'event', 'Donate', 'click', 'donate-top-btn');">
          <button type="button" class="donate-btn bttn md-btn pri">
            DONATE NOW
          </button>
        </a>
      </li>
    </ul>
  </div>
  <div id="myTabContent" class="tab-content">
  </div>
  <div class="row style-aIkoI" id="style-aIkoI">
    <div class="col">
      <div class="widget-wrapper style-DPkOi" id="mywidget3">
        <div class="b-card horizontal widget style-RUcdY" id="style-RUcdY">
        </div>
      </div>
    </div>
  </div>
</div>
{% block script %}
<script>
  function updateTimer() {
      var daysElement = document.getElementById("days");
      var hoursElement = document.getElementById("hours");
      var minutesElement = document.getElementById("minutes");
      var daysString = minutesElement.innerText.trim();
      console.log(daysString);
      var targetDate = new Date("2023-12-10T23:59:59");
      // Get the target date (you'll need to replace this with your actual target date)

      // Get the current date
      var now = new Date();

      // Calculate the time difference
      var timeDifference = targetDate - now;



      // Calculate days, hours, and minutes
      var days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
      var hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
      // Update the HTML elements
      daysElement.innerText = days;
      hoursElement.innerText = hours;
      minutesElement.innerText = minutes;
  }

  // Update the timer every second
  setInterval(updateTimer, 1000);
</script>
<script>
      var endTime = document.getElementById("endtime");
      var targetDate = new Date("2023-12-15T23:59:59");
      var options = {
      weekday: 'short',
      year: 'numeric',
      month: 'short',
      day: 'numeric',
      hour: '2-digit',
      minute: '2-digit',
      timeZoneName: 'short'
    };
      var formattedDate = targetDate.toLocaleString('en-US', options);
      endTime.innerText = formattedDate;
</script>

{% endblock %}
{% endblock %}