{% extends 'base.html' %} {% block link %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/campaign.css')}}"> {% endblock %} {% block content %}
<div class="header">
    <h1>Start Your Fundraiser</h1>
</div>
<div class="layout-container">
    <div class="layout">
        <div class="col1">
            <div class="sidebar-steps style-UDfJt" id="style-UDfJt1">
                <div class="step active" onclick="navigateToStep(1)">
                    <a class="step-header">
                        <span class="btn btn-circle btn-edit" id="st1-circle">
                            1
                        </span>
                        <div class="step-title">
                            Get Started
                        </div>
                    </a>
                    <div class="text">
                        Set essential fundraiser details such as fundraiser title, target and currency
                    </div>
                </div>
                <div class="step" onclick="navigateToStep(2)">
                    <a class="step-header">
                        <span class="btn btn-circle" id="st2-circle">
                            2
                        </span>
                        <div class="step-title">
                            Fundraiser Story
                        </div>
                    </a>
                    <div class="text">
                        Tell your story! Add your description, images, videos and more
                    </div>
                </div>
                <div class="step" onclick="navigateToStep(3)">
                    <a class="step-header">
                        <span class="btn btn-circle" id="st3-circle">
                            3
                        </span>
                        <div class="step-title">
                            Final Details
                        </div>
                    </a>
                    <div class="text">
                        Add team members, customize visibility, and more
                    </div>
                </div>
                <div class="step" onclick="navigateToStep(4)">
                    <a class="step-header">
                        <span class="btn btn-circle" id="st4-circle">
                            4
                        </span>
                        <div class="step-title">
                            Payment Methods
                        </div>
                    </a>
                    <div class="text">
                        Enable payment processors for your fundraising page
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="sidebar-steps style-UDfJt" id="style-UDfJt2">
                <div class="step active" onclick="navigateToStep(1)">
                    <form class="text1" action="{{url_for('views.campaign')}}" method="POST">
                        <h3>Fundraiser information</h3>
                        <div class="form-group">
                            <label for="camp_name">Fundraiser title</label>
                            <input type="text" class="form-control" name="camp_name" aria-describedby="emailHelp" placeholder="Your campaign name">
                        </div>
                        <div class="form-group">
                            <label for="camp_category">Fundraiser category / partner</label>
                            <select class="form-control" name="camp_category">
                                <option value="18">Animals &amp; Pets</option>
                                <option value="19">Business &amp; Startups</option>
                                <option value="20">Causes &amp; Charities</option>
                                <option value="8">Community</option>
                                <option value="21">Creative</option>
                                <option value="22">Education &amp; Learning</option>
                                <option value="7">Family</option>
                                <option value="23">Funerals &amp; Tributes</option>
                                <option value="62">Legal</option>
                                <option value="25">Medical &amp; Healing</option>
                                <option value="28">Other Funding</option>
                                <option value="6">Personal</option>
                                <option value="29">Religious</option>
                                <option value="30">Special Events</option>
                                <option value="31">Sports</option>
                                <option value="33">Volunteer &amp; Travel</option>
                                <option value="35">Weddings &amp; Honeymoon</option>
                            </select>
                        </div>
                        <div class="address-block">
                            <div>
                                <div class="form-group">
                                    <label for="camp_division">Division</label>
                                    <select class="form-control" name="camp_division" id="firstLocation" onchange="updateSecondLocation()">
                                        <option value="" selected disabled>Select a division</option>
                                        <option value="Dhaka">Dhaka</option>
                                        <option value="Chattogram">Chattogram</option>
                                        <option value="Rajshahi">Rajshahi</option>
                                        <option value="Khulna">Khulna</option>
                                        <option value="Barisal">Barisal</option>
                                        <option value="Sylhet">Sylhet</option>
                                        <option value="Rangpur">Rangpur</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="camp_zilla">Zilla</label>
                                    <select class="form-control" name="camp_zilla" id="secondLocation" onchange="updateThirdLocation()">
                                        <option value="" selected disabled>Select a zilla</option>
                                        <!-- Options will be populated dynamically using JavaScript -->
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="camp_upzilla">Upzilla</label>
                                    <select class="form-control" name="camp_upzilla" id="thirdLocation">
                                        <option value="" selected disabled>Select an upzilla</option>
                                        <!-- Options will be populated dynamically using JavaScript -->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top:30px;">
                            <h3>Donation information</h3>
                            <div class="address-block">
                                <div class="form-group" style="padding: 0px;">
                                    <label for="camp_payment">Payment Method</label>
                                    <select class="form-control" name="camp_payment">
                                        <option value="" selected disabled>Select Your Option</option>
                                        <option value="Bkash">Bkash</option>
                                        <option value="Rocket">Rocket</option>
                                        <option value="Nagad">Nagad</option>
                                    </select>
                                </div>
                                <div class="form-group" style="padding-top: 0px;">
                                    <label for="camp_mobile">Phone Number</label>
                                    <input type="text" class="form-control" name="camp_mobile" aria-describedby="emailHelp" placeholder="Your phone number">

                                </div>
                                <div class="form-group" style="padding-top: 0px;">
                                    <label for="camp_deadline">Campaign Deadline</label>
                                    <input type="date" class="form-control" name="camp_deadline" aria-describedby="emailHelp">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="step" onclick="navigateToStep(2)">
                    <div style="padding: 0px 0px 0px 45px; color: black;" class="text1">
                        <h3>Fundraiser story</h3>
                        <small>Explain why you're raising money, what the funds will be used for, and how much you value the support</small>
                        <div class="form-group">
                            <label for="camp_story">Your Story</label>
                            <textarea class="form-control" name="camp_story" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="camp_photo">Upload fundraiser photo</label>
                            <input type="file" class="form-control" name="camp_photo" />
                        </div>
                        <div class="address-block">
                            <div style="padding: 5px">
                                <label for="camp_gender">Gender</label>
                                <select class="form-control" name="camp_gender">
                                        <option value="" selected disabled>Select your gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                            </div>
                            <div style="padding: 5px">
                                <label for="camp_age">Age</label>
                                <input class="form-control" type="number" name="camp_age" placeholder="Your age">
                            </div>
                            <div style="padding: 5px">
                                <label for="camp_occupation">Occupation</label>
                                <select class="form-control" name="camp_occupation">
                                        <option value="" selected disabled >Select your choice</option>
                                        <option value="student">Student</option>
                                        <option value="job holder">Job Holder</option>
                                        <option value="unemployed">Unemployed</option>
                                        <option value="other">Other</option>
                                    </select>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="step" onclick="navigateToStep(3)">
                    <div style="padding: 0px 0px 0px 45px; color: black;" class="text1">
                        <h3>Final Details</h3>
                        <div class="form-group">
                            <label for="camp_video" class="form-label">Your video URL</label>
                            <input class="form-control" value="https://" type="text" name="camp_video">
                            <small></small>
                        </div>
                        <div class="form-group">
                            <label for="camp_social">Social Media Profiles</label><br>
                            <small>Is this fundraiser shown in other places? If so, add links to those pages.</small>
                            <input type="text" class="form-control" name="camp_social" value="https://">
                        </div>
                        <div class="form-group">
                            <label for="camp_aboutus">How did you hear about us?</label>
                            <select class="form-control" name="camp_aboutus">
                            <option selected disabled value="">Select Your Choice</option>
                            <option value="Search Engine">Search Engine</option>
                            <option value="Friends & Family">Friends & Family</option> 
                            <option value="Facebook">Facebook</option>
                            <option value="Instagram">Instagram</option>
                            <option value="others">Others</option>
                            </select><br/>
                            <button type="submit" value="Submit" class="btn-submit">Submit</button>
                        </div>
                        <!-- Add other form fields as needed -->
                    </div>
                </div>
                <div class="step" onclick="navigateToStep(4)">

                    <div class="text">

                    </div>

                </div>
                <!--Form Ends here-->
            </div>
        </div>
    </div>
</div>


<script>
    function navigateToStep(stepNumber) {
        // Remove the 'active' class from all steps in col1, col2, and col3
        const stepsContainer1 = document.getElementById('style-UDfJt1');
        const stepsContainer2 = document.getElementById('style-UDfJt2');

        const steps1 = stepsContainer1.querySelectorAll('.step');
        const steps2 = stepsContainer2.querySelectorAll('.step');

        steps1.forEach(function(step) {
            step.classList.remove('active');
        });

        steps2.forEach(function(step) {
            step.classList.remove('active');
        });


        // Add the 'active' class to the clicked step in col1, col2, and col3
        const clickedStep1 = stepsContainer1.querySelector(`.step:nth-child(${stepNumber})`);
        clickedStep1.classList.add('active');

        const clickedStep2 = stepsContainer2.querySelector(`.step:nth-child(${stepNumber})`);
        clickedStep2.classList.add('active');

        // Set the hash for navigation
        window.location.hash = 's' + stepNumber;
    }
</script>

<!--Address block-->
<script>
    const locationHierarchy = {
        Dhaka: {
            Zilla: ['Dhaka', 'Gazipur', 'Narayanganj', 'Tangail', /* Add more zillas for Dhaka */ ],
            Upzilla: ['Uttara', 'Mohammadpur', 'Mirpur', /* Add more upzillas for Dhaka */ ]
        },
        Chattogram: {
            Zilla: ['Chattogram', 'Comilla', 'Feni', 'Cox\'s Bazar', /* Add more zillas for Chattogram */ ],
            Upzilla: ['Sitakunda', 'Fatikchhari']
        },
        Comilla: {
            Upzilla: ['Chandina', 'Debidwar'],
        },
        Rajshahi: {
            Zilla: ['Rajshahi', 'Pabna', 'Natore', 'Bogra', /* Add more zillas for Rajshahi */ ],
            Upzilla: ['Ullapara', 'Puthia', 'Durgapur', /* Add more upzillas for Rajshahi */ ]
        },
        Khulna: {
            Zilla: ['Khulna', 'Jessore', 'Satkhira', 'Bagerhat', /* Add more zillas for Khulna */ ],
            Upzilla: ['Dumuria', 'Keshabpur', 'Shyamnagar', /* Add more upzillas for Khulna */ ]
        },
        Barisal: {
            Zilla: ['Barisal', 'Patuakhali', 'Bhola', 'Pirojpur', /* Add more zillas for Barisal */ ],
            Upzilla: ['Banaripara', 'Lalmohan', 'Nesarabad', /* Add more upzillas for Barisal */ ]
        },
        Sylhet: {
            Zilla: ['Sylhet', 'Moulvibazar', 'Habiganj', 'Sunamganj', /* Add more zillas for Sylhet */ ],
            Upzilla: ['Golapganj', 'Bishwanath', 'Zakiganj', /* Add more upzillas for Sylhet */ ]
        },
        Rangpur: {
            Zilla: ['Rangpur', 'Dinajpur', 'Gaibandha', 'Kurigram', /* Add more zillas for Rangpur */ ],
            Upzilla: ['Mithapukur', 'Biral', 'Pirganj', /* Add more upzillas for Rangpur */ ]
        }
        // Add other divisions and their zillas/upzillas here
    };

    function updateSecondLocation() {
        const firstLocation = document.getElementById('firstLocation');
        const secondLocation = document.getElementById('secondLocation');

        // Clear existing options in the second location
        secondLocation.innerHTML = '';

        // Add default "Select a zilla" option
        const defaultOption = document.createElement('option');
        defaultOption.value = '';
        defaultOption.textContent = 'Select a zilla';
        defaultOption.disabled = true;
        defaultOption.selected = true;
        secondLocation.appendChild(defaultOption);

        // Add new options based on the selected division in the first location
        const selectedValue = firstLocation.value;
        const zillas = locationHierarchy[selectedValue] ? .Zilla;

        if (zillas) {
            zillas.forEach(zilla => {
                const option = document.createElement('option');
                option.value = zilla;
                option.textContent = zilla;
                secondLocation.appendChild(option);
            });
        }
    }

    function updateThirdLocation() {
        const secondLocation = document.getElementById('secondLocation');
        const thirdLocation = document.getElementById('thirdLocation');

        // Clear existing options in the third location
        thirdLocation.innerHTML = '';

        // Add default "Select an upzilla" option
        const defaultOption = document.createElement('option');
        defaultOption.value = '';
        defaultOption.textContent = 'Select an upzilla';
        defaultOption.disabled = true;
        defaultOption.selected = true;
        thirdLocation.appendChild(defaultOption);

        // Add new options based on the selected zilla in the second location
        const selectedValue = secondLocation.value;
        const upzillas = locationHierarchy[selectedValue] ? .Upzilla;

        if (upzillas) {
            upzillas.forEach(upzilla => {
                const option = document.createElement('option');
                option.value = upzilla;
                option.textContent = upzilla;
                thirdLocation.appendChild(option);
            });
        }
    }
</script>
{% endblock %}