{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="../static/css/campaign_list.css" />
{% endblock %}
{% block content %}
<div class="heading-section">
    <h1>Discover Fundraisers</h1>
    <h4>AmarDaan helps you raise money for what matters to you most</h4>
    <hr>
</div>
<div class="camp_container">
    <div class="products-container">
        <div class="product-card">
            <div class="badge">Hot</div>
            <div class="product-tumb">
                <img class="product-image" src="../static/images/header-img-1.jpg" alt="">
            </div>
            <div class="product-details">
                <span class="product-catagory">Women,bag</span>
                <h4><a href="#">Run for Ratan</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    <div class="product-price">
                        <small>৳ 96.00</small>৳ 230.99
                    </div>
                    <div class="product-links">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="badge">Hot</div>
            <div class="product-tumb">
                <img src="../static/images/Mamun Formal Pic.png" alt="">
            </div>
            <div class="product-details">
                <span class="product-catagory">Women,bag</span>
                <h4><a href="#">Music for hunger</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    <div class="product-price">
                        <small>৳ 96.00</small>৳ 230.99
                    </div>
                    <div class="product-links">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="badge">Hot</div>
            <div class="product-tumb">
                <img src="../static/images/header-img-3.jpg" alt="">
            </div>
            <div class="product-details">
                <span class="product-catagory">Women,bag</span>
                <h4><a href="#">Project Trishna</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    <div class="product-price">
                        <small>৳ 96.00</small>৳ 230.99
                    </div>
                    <div class="product-links">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="badge">Hot</div>
            <div class="product-tumb">
                <img src="../static/images/header-img-4.jpg" alt="">
            </div>
            <div class="product-details">
                <span class="product-catagory">Women,bag</span>
                <h4><a href="#">Beach Island</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    <div class="product-price">
                        <small>৳ 96.00</small>৳ 230.99
                    </div>
                    <div class="product-links">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="badge">Hot</div>
            <div class="product-tumb">
                <img src="../static/images/header-img-5.jpg" alt="">
            </div>
            <div class="product-details">
                <span class="product-catagory">Ashulia, Health</span>
                <h4><a href="#">Corona Relief: Jaago</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    <div class="product-price">
                        <small>৳ 96.00</small>৳ 230.99
                    </div>
                    <div class="product-links">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="badge">Hot</div>
            <div class="product-tumb">
                <img src="../static/images/header-img-6.jpg" alt="">
            </div>
            <div class="product-details">
                <span class="product-catagory">Savar,Education</span>
                <h4><a href="#">IHF Zaakat Campaign</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    <div class="product-price">
                        <small>৳ 96.00</small>৳ 230.99
                    </div>
                    <div class="product-links">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="badge">Hot</div>
            <div class="product-tumb">
                <img src="../static/images/header-img-7.jpg" alt="">
            </div>
            <div class="product-details">
                <span class="product-catagory">/,bag</span>
                <h4><a href="#">Women leather bag</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    <div class="product-price">
                        <small>৳ 96.00</small>৳ 230.99
                    </div>
                    <div class="product-links">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>

{% endblock %}