{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" href="../static/css/campaign_list.css" />
{% endblock %}

{% block content %}
    <div class="heading-section">
        <h1>Discover Fundraisers</h1>
        <h4>AmarDaan helps you raise money for what matters to you most</h4>
        <hr>
    </div>
        <div class="query-filters">
            <div class="filter-section">
<form method="POST" action="{{ url_for('views.campaign_filter') }}">

                <label for="category">Donation Sector &nbsp; </label>
                <select id="category" name="category">
                    <!-- Add options dynamically based on your database -->
                    {% for category in donation_categories %}
                        <option value="{{ category.camp_id }}">{{ category.camp_name }}</option>
                    {% endfor %}
                </select>

            </div>
        <button type="submit" class="product_card__btn1">Filter</button>
</form>
            <div>

            </div>
        </div>




    <!-- campaign_list.html -->

    <div class="camp_container">
        <div class="products-container">
            {% for campaign in campaign %}
                <div class="product-card">
                    <div class="product-tumb">
                        <img class="product-image" src="{{ url_for('static', filename=campaign.camp_photo) }}" alt="">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{ campaign.camp_category_name }}</span>
                        <h4><a href="#">{{ campaign.camp_name }}</a></h4>
                        <p>{{ campaign.camp_sub_name }}</p>
                        <div class="product-bottom-details">
                            <div class="product-price">
                                ৳ {{ campaign.camp_goal }}
                            </div>
                            <form action="{{ url_for('views.campaign_details') }}" method="post">
                                <input type="hidden" name="campaign_id" value="{{ campaign.id }}">
                                <button type="submit" class="product_card__btn">Donate Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}


{% endblock %}