{% extends 'statistics.html' %}
{% block header %}
    <link rel="stylesheet" href="../static/css/add_campaign.css">
{% endblock %}
{% block maincontent %}
{#    NAME#}
{#SUBJECT#}
{#STATUS	#}
{#CREATED ON#}
{#ACTION#}
    {% if user.id == 1 %}
        <h1>Inquiries</h1>
        {% else %}
        <h1>Support Ticket</h1>

    {% endif %}
   <div class="campaign_table">
    <div class="table-responsive">
        <table>
            <thead style="background-color: #343a40; color: #fff;">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>Created On</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for inbox in inbox %}
                    <tr>
                        <th scope="row">{{ inbox.id }}</th>

                        <td>{{ inbox.name }}</td>
                        <td>{{ inbox.subject }}</td>
                        <td>{{ inbox.status }}</td>
                        <td>{{ inbox.created_on }}</td>
                        <td class="text-right">
                           {% if user.id==1 %}<a class="btn btn-danger" style="background-color: #0f9d58; margin-bottom: 10px;" href="{{ url_for('views.inbox_details', inbox_id=inbox.id) }}">View</a> {% else %}<a class="btn btn-danger" style="background-color: #0f9d58; margin-bottom: 10px;" href="{{ url_for('views.inbox_details', inbox_id=inbox.id) }}">Status</a>{% endif %}
                           <a class="btn btn-danger" href="{{ url_for('views.delete_inbox_route', inbox_id=inbox.id) }}" data-toggle="modal" data-target="#delete">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <div class="custom-button-container">
            <a class="btn custom-button">Load More</a>
        </div>


    </div>
</div>

{% endblock %}
