{% extends "base.html" %}
{% block container %}
<header class="beautiful-header">
  <div class="header-content">
    <div class="left-content">
      <h1 class="header-title">আমার দানে আপনাকে স্বাগতম</h1>
      <p style="text-align: justify;" class="header-description">অনলাইন ক্রাউডফান্ডিং এর মাধ্যমে বাংলাদেশের ক্ষমতায়ন। প্রচারাভিযান শুরু করুন, কারণ সমর্থন করুন এবং কার্যকর পরিবর্তন চালান। উদারতার সহজ কাজের মাধ্যমে একটি ভাল ভবিষ্যত গঠনে আমাদের সাথে যোগ দিন। একসাথে, আমরা একটি পার্থক্য.</p>
      <button class="btn btn-red">Donate Now</button>
      
    </div>
    <div class="right-content">
      <div class="image-box">
        <img id="headerImage" src="./resources/images/header-img-1.jpg" alt="Image">
      </div>
    </div>
  </div>
</header>
<div class="container">
  <h2 class="text-center mt-5">Campaigns</h2>
  <div class="navigation-buttons">
    <button class="btn btn-primary left-button" id="prevBtn">&lt;</button>
    <button class="btn btn-primary right-button" id="nextBtn">&gt;</button>
  </div>
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-4" id="cardRow">
    <!-- Card columns will be dynamically added here -->
  </div>
</div>

<div class="s-story">
  <div class="container mt-5">
    <h2 style="padding-top: 50px" class="text-center mb-4">Success Stories</h2>
    <div id="successCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="success-story">
                    <img src="resources/images/header-img-3.jpg" alt="Success Image" class="success-image">
                    <div>
                        <h1>Rabeya's Journey: A Life Transformed with AmarDaan's Help</h1>
                        <p>Meet Rabeya, a determined girl from a village filled with hardships. Limited resources made education a distant dream. But, thanks to AmarDaan's compassionate donors, Rabeya's life took a remarkable turn.
  
                          AmarDaan's support provided Rabeya access to education, clean water, and livelihood opportunities. With unwavering determination, she excelled in her studies, earning scholarships and recognition.
                          
                          Today, Rabeya stands as a beacon of inspiration in her community. Her journey from adversity to achievement showcases the transformative power of kindness. Through AmarDaan's donors, Rabeya's life was changed, and a ripple of positive change was set in motion for generations to come.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="success-story">
                    <img src="resources/images/header-img-4.jpg" alt="Success Image" class="success-image">
                    <div>
                        <h1>Kulsum's Inspirational Transformation with AmarDaan</h1>
                        <p>In a remarkable tale of innovation and community support, Rahman Khan, a visionary Bangladeshi entrepreneur, harnessed the power of AmarDaan Crowdfunding to bring quality education to rural areas. Khan's brainchild, a project to establish solar-powered schools, aimed to bridge the education gap and address energy challenges.

                          With the aid of AmarDaan's crowdfunding platform, Khan launched a campaign that resonated with donors worldwide. Empowered by their collective contributions, he erected schools equipped with solar panels, providing sustainable energy and modern education to underserved communities. The initiative not only empowered the youth with knowledge but also fueled economic growth.
                          
                          Khan's success story became an inspiration, sparking a wave of philanthropic endeavors across Bangladesh. Through AmarDaan Crowdfunding, he showcased the potential of technology, generosity, and determination to transform lives and uplift a nation.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
              <div class="success-story">
                  <img src="resources/images/header-img-4.jpg" alt="Success Image" class="success-image">
                  <div>
                      <h1>Empowering Bangladesh</h1>
                      <p>In the heart of a small town, Kulsum's life changed dramatically, thanks to AmarDaan's devoted donors. Despite financial struggles, Kulsum's determination led her to the organization's door. Through their support, she accessed education and skill development, paving the path to her dreams.

                        AmarDaan's donors didn't just offer financial assistance; they became the driving force behind Kulsum's ambitions. With newfound skills and unwavering encouragement, she conquered challenges and emerged as a beacon of hope within her community.
                        
                        Kulsum's story isn't just about personal achievement; it's a testament to the profound impact of collective generosity. Her journey inspires us to believe in the potential of transformation, one life at a time.
                        
                        Today, Kulsum stands as a living embodiment of AmarDaan's mission. Her success underscores the ripple effect of kindness and the enduring power of giving. Join us in celebrating Kulsum's remarkable journey and become a part of AmarDaan's ongoing story of changing lives for the better.</p>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="flex-container">
    <div class="box col-lg-6 img1">
      <div class="ct-text">
        <h1>Discover amazing fundraising campaigns</h1>
      </div>
      <button class="btn btn-start-campaign"> Fund Someone</button>
    </div>
    <div class="box col-lg-6 img2">
      <div class="ct-text">
        <h1>Create your own campaign now</h1>
      </div>
      <button class="btn btn-start-campaign"> Start Fundraising</button>
    </div>
  </div>
</div>
</div>
<div class="form-container">
  <div class="contact-us">
    <div class="container-contact1 snipcss-2BGmQ">
          <div class="contact1-pic js-tilt" data-tilt="">
            <img src="https://colorlib.com/etc/cf/ContactFrom_v1/images/img-01.png" alt="IMG">
          </div>
          <form class="contact1-form validate-form">
            <span class="contact1-form-title">
              Get in touch
            </span>
            <div class="wrap-input1 validate-input" data-validate="Name is required">
              <input class="input1" type="text" name="name" placeholder="Name">
              <span class="shadow-input1">
              </span>
            </div>
            <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
              <input class="input1" type="text" name="email" placeholder="Email">
              <span class="shadow-input1">
              </span>
            </div>
            <div class="wrap-input1 validate-input" data-validate="Subject is required">
              <input class="input1" type="text" name="subject" placeholder="Subject">
              <span class="shadow-input1">
              </span>
            </div>
            <div class="wrap-input1 validate-input" data-validate="Message is required">
              <textarea class="input1" name="message" placeholder="Message">
              </textarea>
              <span class="shadow-input1">
              </span>
            </div>
            <div class="container-contact1-form-btn">
              <button class="contact1-form-btn">
                <span>
                  Send Email
                  <i class="fa fa-long-arrow-right" aria-hidden="true">
                  </i>
                </span>
              </button>
            </div>
          </form>
        </div>
</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% endblock %}
