{% extends 'base.html' %}
{% block link %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/payment_success.css') }}">

{% endblock %}
{%block content %}

<div class="main-blck">
    <svg width="40" height="40">
        <circle fill="none" stroke="#313538" stroke-width="2.5" cx="20" cy="20" r="19" stroke-linecap="round" transform="rotate(-9 20 20)"  class="circle"/>
        <polyline fill="none" stroke="#313538" stroke-width="3" points="8.8,21.4 17.3,28.4 30.4,13.8" stroke-linecap="round" stroke-linejoin="round" class="tick">
        
      </svg>
        
      <h2>Payment Success</h2>
</div>
{% endblock %}