{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="../static/css/privacy_policy.css">
{% endblock %}
{% block content %}
<div class="terms">
    <div class="heading-section">
        <h1>Terms and Conditions</h1>
        <h6>Effective From: 10 October, 2023</h6>
        <hr>
    </div>
    <div class="terms-inside">
        <p>These Terms and Conditions ("Terms" or "Agreement") establish a legally binding agreement between AmarDaan.org ("AmarDaan") and You. It is imperative that You comprehend Your responsibilities and the scope of services provided. AmarDaan offers diverse services, and additional terms specific to each service may apply. In such cases, those service-specific terms will be incorporated into this Agreement.</p>

        <p>Please utilize Our services judiciously. By accessing Our website or utilizing any of Our services, You affirm Your acceptance of these Terms. Kindly be aware that these Terms may undergo periodic revisions. If You have utilized Our services previously, You should not assume that the Terms remain unchanged. It is recommended to review them regularly and seek clarifications from Us as needed.</p>
        <br>
        <h6>Account, Passwords, and Security:</h6>
        <h6>Account:</h6>
        <ul>
            <li><p>To avail of Our services, We may require specific information. You must ensure the accuracy and completeness of this information.</p></li>
            <li><p>Any provision of incomplete or inaccurate information may lead to suspension or termination of services. You warrant that all information provided to Us is accurate and complete, and You indemnify AmarDaan.org against any resulting liabilities.</p></li>
            <li><p>Promptly notify Us of any changes in Your information.</p></li>
        </ul>
        <br>
        <h6>Security:</h6>
        <ul>
            <li><p>Maintain confidentiality of Your username, customer ID, and password</p></li>
            <li><p>Do not attempt to bypass Our user authentication systems.</p></li>
            <li><p>Immediately report any unauthorized account usage or security breaches.</p></li>
            <li>Assume full responsibility for all account-related activities and payments.<p></p></li>
            <li><p>You are liable for any damages, losses, or costs incurred by Us or any third party due to Your actions or actions of a third party using Your account.</p></li>
        </ul>
    </br>
        <h6>Confidentiality and Data Protection:</h6>
        <ul>
            <li><p>You shall maintain the confidentiality of all information acquired through the use of Our Services, except for information already in the public domain or as required by law or regulatory authorities.</p></li>
            <li><p>We shall treat Your End-User Data as confidential and shall not disclose it to any third party or use it without Your explicit authorization, except for providing the Services and necessary technical support.</p></li>
        </ul>
    </br>
        <h6>Availability and Interruption of the Service:</h6>
        <ul>
            <li><p>We shall not be held liable for any failure to provide the Services resulting from technical failures of Network Operators or events beyond Our reasonable control.</p></li>
            <li><p>All services are provided "as is" and "as available," and We do not explicitly or implicitly guarantee that they are error-free, uninterrupted, suitable for a specific purpose, secure, or free from infringement of third-party rights.</p></li>
            <li><p>We reserve the right to modify or enhance the Services, provided such alterations do not materially affect their nature or functionality.</p></li>
        </ul>
    </br>
        <h6>Customer Charges and Payment (Applicable to Paying Customers): </h6>
            <ul>
                <li><p>You agree to remit all Charges for availing the Service by the prepayment method and in accordance with the specified terms.</p></li>
                <li><p>Pre-purchase Chargeable Event credits for each billing period, with corresponding reductions upon conducting Chargeable Events.</p></li>
                <li><p>Purchased Chargeable Event credits are valid only for the allocated period. Additional expenditures beyond the allocation limit for that period are not permissible.</p></li>
            </ul>
        </br>
        <h6>Disclaimers, Limitations of Liability, and Indemnification:</h6>
        <ul>
            <li><p>AmarDaan.org shall not be liable for indirect, incidental, special, consequential, or punitive damages, or any loss of profits, revenues, data, use, goodwill, or other intangible losses resulting from Your use of the Services.</p></li>
            <li><p>You are solely responsible for the content of any Chargeable Events sent or transmitted using the Service. You must comply with all relevant legislation and regulations in Your jurisdiction and in the jurisdiction of all parties with whom You communicate directly.</p></li>
            <li><p>We shall at all times comply with applicable laws, regulations, and rules.</p></li>
        </ul>
    </br>
        <h6>Complaints and Regulatory Compliance:</h6>
        <ul>
            <li><p>You are responsible for addressing any complaints received by AmarDaan.org from regulatory bodies resulting from Your use of the Service. We will promptly forward any such complaints to You.</p></li>
            <li><p>Adherence to applicable complaint procedures and timely responses to complaints are mandatory. You shall be liable for any fines or penalties imposed by regulatory bodies due to contravention of these Terms.</p></li>
        </ul>
    </br>
    <br>
    <h6><i>Note: The above Terms and Conditions are effective as of the specified date. AmarDaan.org reserves the right to modify these Terms at any time. It is recommended to regularly review this Agreement for updates.</i></h6><br>
    <h6 style="text-align: center;">[ By using AmarDaan.org and its services, You acknowledge that You have read, understood, and agree to be bound by these Terms and Conditions ]</h6>
    
</div>
        
</div>

{% endblock %}