{% extends 'statistics.html' %}
{% block header %}
<link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock %}
{% block maincontent %}
<div class="bottom-container">
    <div class="bottom-container__left">
        <div class="box spending-box">
            <div class="header-container">
                <div class="profile-container">
                    <h2 class="title-case">{{ user.name }}</h2>
                    <div class="profile-picture">
                        {% if user.profile_picture %}
                        <img id="profile-image"
                            src="{{ url_for('static', filename=user.profile_picture.replace('\\', '/')) }}?{{ user.profile_picture_updated }}"
                            alt="User Photo">
                        {% else %}
                        <img id="profile-image" src="{{ url_for('static', filename='images/default.jpg') }}"
                            alt="Default User Photo">
                        {% endif %}
                    </div>
                    <button style="border: 0px; border-radius: 10px; background-color: red;color:white;"
                        id="update-profile-button">Update New Photo</button>
                    <input type="file" id="upload-input" accept=".jpg, .jpeg, .png" style="display: none;">
                </div>
                            <div class="about-me">
                                <p>A passionate donator who aims to solve peoples problem as much as he can!</p>
                            </div>
                            <strong style="color:blueviolet"><small>Member Since: {{ user.date.strftime('%d %B %Y')}}</small></strong>
    
                        </div>
                        <div class="in-col2">
                            <div class="header">
                                <h4>Edit Profile</h4>
                            </div>
                            <form action="{{url_for('views.update_profile')}}" method="POST">
                                <div class="grid-col-2">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" name="first_name" class="form-control title-case" value="{{user.name.split()[0]}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" name="last_name" class="form-control title-case"
                                            value="{{ ' '.join(user.name.split()[1:]) }}">
                                    </div>
                                </div>
                                <div class="grid-col-2">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <div class="password-input-container">
                                            <input type="password" name="password" class="form-control title-case password-match" id="password" placeholder="********">
                                            <button id="toggle-password" class="password-toggle" type="button">Show</button>
                                        </div>
                                        <small id="password-strength" class="password-strength">Password strength: <span class="strength"></span></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm-password">Confirm Password</label>
                                        <input type="password" class="form-control title-case password-match" id="confirm-password" placeholder="********">
                                        <small id="password-match-message" class="password-match-message"></small>
                                    </div>
                                    
                                </div>
                                <div class="grid-col-2" style="padding-top: 10px">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        {% if user.email %}
                                            <input class="form-control" type="email" name="email" value="{{user.email}}">
                                        {% else %}
                                            <input type="email" class="form-control" name="email" placeholder="Your email address">
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Confirm Email</label>
                                        <input type="email" class="form-control" name="email" placeholder="Confirm email address">
                                    </div>
                                </div>
                                <h6 style="padding-top: 10px;">Social Profile</h6>
                                <div class="grid-col-2" style="padding-top: 10px">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i style="color: blue;" class="bi bi-facebook"></i></span>
                                        {% if user.facebook %}
                                        <input type="text" class="form-control" name="facebook" value="{{user.facebook}}" aria-label="Username" aria-describedby="basic-addon1">
                                        {% else %}
                                        <input type="text" class="form-control" name="facebook" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i style="color: red;" class="bi bi-instagram"></i></i></span>
                                            {% if user.instagram %}
                                            <input type="text" name="instagram" class="form-control" value="{{user.instagram}}" aria-label="Username" aria-describedby="basic-addon1">
                                            {% else %}
                                            <input type="text" name="instagram" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-danger" style="width: 100%;" type="submit">Update Profile</button>
                                </div>
                            </div>
                            </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}