*{
    font-family: 'Bai Jamjuree', sans-serif;
}
  body {  
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background:#fff;
  }  
* { 
    box-sizing: border-box;
} 

body { 
    margin: 0; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    height: 100%;
} 

body { 
    background: #fff; 
    background-color: #fff;
} 

html { 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

html { 
    height: 100%;
} 

div { 
    margin: 0; 
    padding: 0;
} 

.page-content { 
    margin-top: 52px;
} 

.page-content { 
    margin-top: 40px;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

section { 
    display: block;
} 

.campaign-content { 
    margin-top: 52px;
} 

.d-block { 
    display: block!important;
} 

@media (min-width: 992px){ 
  .d-lg-none { 
    display: none!important;
  } 
}     

.row { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    margin-right: -15px; 
    margin-left: -15px;
} 

.row { 
    margin-right: -20px; 
    margin-left: -20px; 
    display: flex; 
    justify-content: flex-start; 
    flex-wrap: wrap;
} 

.container { 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1140px;
  } 
}     

.container { 
    max-width: 980px;
} 

.container { 
    padding: 0;
} 

ul { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

@media all{ 
  ul { 
    box-sizing: border-box;
  } 
}     

.list-unstyled { 
    padding-left: 0; 
    list-style: none;
} 

.list-inline { 
    padding-left: 0; 
    list-style: none;
} 

.col { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col { 
    -ms-flex-preferred-size: 0; 
    flex-basis: 0; 
    -ms-flex-positive: 1; 
    flex-grow: 1; 
    max-width: 100%;
} 

.col { 
    padding-right: 20px; 
    padding-left: 20px;
} 

@media (min-width: 992px){ 
  #tab-content-continer { 
    padding: 0!important; 
    margin: 0!important; 
    justify-content: space-between!important;
  } 
}     

li { 
    margin: 0; 
    padding: 0;
} 

.list-inline-item { 
    display: inline-block;
} 

.m-0 { 
    margin: 0!important;
} 

.p-0 { 
    padding: 0!important;
} 

.list-inline-item:not(:last-child) { 
    margin-right: .5rem;
} 

.col-lg-12 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 992px){ 
  .col-lg-12 { 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

.text-center { 
    text-align: center!important;
} 

.col-lg-12 { 
    padding-right: 20px; 
    padding-left: 20px;
} 

@media (min-width: 992px){ 
  .col-lg-12 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

.col-lg-8 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 992px){ 
  .col-lg-8 { 
    -ms-flex: 0 0 66.666667%; 
    flex: 0 0 66.666667%; 
    max-width: 66.666667%;
  } 
}     

.col-lg-8 { 
    padding-right: 20px; 
    padding-left: 20px;
} 

@media (min-width: 992px){ 
  .pr-lg-16 { 
    padding-right: 16px!important;
  } 

  .col-lg-8 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 66.666667%; 
    flex: 0 0 66.666667%; 
    max-width: 66.666667%;
  } 

  #tab-content-area { 
    width: 612px!important; 
    padding: 0!important; 
    margin: 0!important; 
    -webkit-box-flex: unset!important; 
    -ms-flex: unset!important; 
    flex: unset!important; 
    max-width: unset!important;
  } 
}     

.col-lg-4 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 992px){ 
  .col-lg-4 { 
    -ms-flex: 0 0 33.333333%; 
    flex: 0 0 33.333333%; 
    max-width: 33.333333%;
  } 
}     

.d-none { 
    display: none!important;
} 

@media (min-width: 992px){ 
  .d-lg-inline { 
    display: inline!important;
  } 
}     

.col-lg-4 { 
    padding-right: 20px; 
    padding-left: 20px;
} 

@media (min-width: 992px){ 
  .pl-lg-44 { 
    padding-left: 44px!important;
  } 

  .col-lg-4 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 33.333333%; 
    flex: 0 0 33.333333%; 
    max-width: 33.333333%;
  } 

  #tab-content-sidebar { 
    width: 308px!important; 
    padding: 0!important; 
    margin: 0!important; 
    -webkit-box-flex: unset!important; 
    -ms-flex: unset!important; 
    flex: unset!important; 
    max-width: unset!important;
  } 
}     

button { 
    border-radius: 0;
} 

button { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

button { 
    overflow: visible;
} 

button { 
    text-transform: none;
} 

[type="button"],button { 
    -webkit-appearance: button;
} 

.bttn { 
    width: 100%; 
    border-radius: 8px; 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 700; 
    line-height: 150%; 
    text-align: center; 
    display: block; 
    outline: none; 
    border: 0; 
    box-shadow: none; 
    cursor: pointer;
} 

.md-btn { 
    font-size: 16px; 
    padding-top: 12px; 
    padding-bottom: 12px;
} 

[type="button"]:not(:disabled),button:not(:disabled) { 
    cursor: pointer;
} 

.bttn.sec { 
    background: 0 0; 
    color: #798798; 
    border: 1px solid #eaebee; 
    box-sizing: border-box; 
    outline: none;
} 

.bttn.sec.outline-blue { 
    border: 1px solid #4a90e2; 
    font-size: 14px; 
    color: #4a90e2;
} 

.bttn.sec.outline-blue { 
    color: #53ca8b;
} 

.bttn.sec.outline-blue { 
    border-color: #53ca8b!important;
} 

.bttn.sec:hover,.bttn.sec:active { 
    background: #eef5fe; 
    border: 1px solid #4a90e2; 
    color: #4a90e2;
} 

.bttn.sec.outline-blue:hover,.bttn.sec.outline-blue:active { 
    border: 1px solid #4a90e2; 
    background: #eef5fe;
} 

.bttn.sec.outline-blue:hover,.bttn.sec.outline-blue:active { 
    background-color: #ecf7f0!important;
} 

a { 
    color: #007bff; 
    text-decoration: none; 
    background-color: transparent;
} 

a { 
    color: #4a90e2;
} 


a:hover { 
    color: #0056b3; 
    text-decoration: underline;
} 

a:hover,a:active { 
    color: #4a90e2; 
    text-decoration: none;
} 

.b-card { 
    display: flex; 
    flex-wrap: wrap; 
    position: relative; 
    background: #fff; 
    border-radius: 16px; 
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
} 

.b-card.horizontal { 
    width: 644px; 
    margin-left: auto; 
    margin-right: auto;
} 

.b-card.widget { 
    width: 392px; 
    max-width: 100%; 
    border: none; 
    background: #fff; 
    box-shadow: 0 10px 30px rgb(0 0 0/15%); 
    border-radius: 16px; 
    overflow: hidden;
} 

h1 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h1 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h1 { 
    font-size: 2.5rem;
} 

h1 { 
    margin: 0; 
    padding: 0;
} 

h1,.H1 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 32px; 
    line-height: 150%; 
    color: #2f435a;
} 

h1,.H1 { 
    font-weight: 700;
} 

.campaign-title h1  { 
    text-align: center; 
    margin-bottom: 20px;
} 

h5 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h5 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h5 { 
    font-size: 1.25rem;
} 

h5 { 
    margin: 0; 
    padding: 0;
} 

h5 { 
    font-style: normal; 
    font-size: 24px; 
    line-height: 150%; 
    color: #2f435a;
} 

.H10 { 
    font-style: normal; 
    font-size: 14px; 
    line-height: 170%; 
    color: #2f435a;
} 

h5,.H10 { 
    font-weight: 700;
} 

.campaign-title h5.campaign_by  { 
    line-height: 150%; 
    letter-spacing: .5px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: 400;
} 

.nav { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    padding-left: 0; 
    margin-bottom: 0; 
    list-style: none;
} 

.nav-tabs { 
    border-bottom: 1px solid #dee2e6;
} 

.campaign-content .nav-tabs  { 
    border-bottom: 3px solid #f5f6f7; 
    background: #fff; 
    z-index: 99; 
    display: flex; 
    align-items: flex-end; 
    overflow-x: initial; 
    flex-wrap: nowrap;
} 

#sticky-tabs { 
    -ms-overflow-style: none; 
    scrollbar-width: none;
} 

#sticky-tabs:-webkit-scrollbar { 
    display: none;
} 

.campaign-content .tab-content  { 
    overflow: hidden;
} 

.share_with_friend .icons  { 
    font-size: 0; 
    line-height: normal;
} 

.donate-btn { 
    margin-bottom: 16px; 
    margin-top: 24px; 
    min-height: 40px; 
    height: auto;
} 

.bttn.pri { 
    color: #fff; 
    background: #4a90e2; 
    outline: none;
} 

.bttn.pri { 
    background: #53ca8b!important; 
    color: #fff!important;
} 

.bttn.pri:hover,.bttn.pri:active { 
    background: #2d6db9; 
    outline: none;
} 

.bttn.pri:not(:disabled):hover { 
    background: #38a56b!important;
} 

.campaign-title h5.campaign_by .part  { 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 

.nav-tabs .nav-item  { 
    margin-bottom: -1px;
} 

.campaign-content .nav-tabs .nav-item  { 
    padding: 0; 
    margin: 0;
} 

.tab-content > .tab-pane  { 
    display: none;
} 

.tab-content > .active  { 
    display: block;
} 

.right-box { 
    padding: 0; 
    border-radius: 16px; 
    text-align: center; 
    box-shadow: 0 1.9021px 3.53246px rgba(47,67,90,.0278729),0 5.25905px 9.76681px rgba(47,67,90,.04),0 12.6618px 23.5147px rgba(47,67,90,.0521271),0 42px 78px rgba(47,67,90,.08);
} 

 .bttn.sec.outline-blue { 
    border: 1px solid #4a90e2; 
    font-size: 14px; 
    color: #4a90e2;
} 

.icon { 
    display: inline-block; 
    font-family: gofund; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.share_with_friend .icons .icon  { 
    margin-right: 0; 
    border: 2px solid #fff; 
    border-radius: 50%; 
    position: relative; 
    top: 0; 
    line-height: 1; 
    margin-bottom: 0;
} 

.icon.i-ws-circle:before { 
    content: url(https://gogetfunding.com/wp-content/themes/ggf/icons/Social1-WhatSapp.svg);
} 

.share_with_friend .icons .icon:not(:first-child)  { 
    margin-left: -14px;
} 

.icon.i-twitter-circle:before { 
    content: url(https://gogetfunding.com/wp-content/themes/ggf/icons/Social1-Twitter.svg);
} 

.icon.i-fb-circle:before { 
    content: url(https://gogetfunding.com/wp-content/themes/ggf/icons/Social1-Facebook.svg);
} 

.link { 
    position: relative;
} 

.campaign-title h5.campaign_by .owner  { 
    margin-left: 6px;
} 

.link:hover:after,.link.link-hover:after,.link:active:after { 
    content: ""; 
    position: absolute; 
    width: 100%; 
    height: 1px; 
    background: #4a90e2; 
    left: 0; 
    bottom: -2px;
} 

@media (min-width: 576px){ 
  .d-sm-none { 
    display: none!important;
  } 
}     

@media (min-width: 768px){ 
  .d-md-inline-block { 
    display: inline-block!important;
  } 
}     

.campaign_by .dot  { 
    margin: 13px 12px; 
    background: #798798; 
    width: 5px; 
    height: 5px; 
    border-radius: 50%; 
    vertical-align: middle;
} 

.flag { 
    float: left; 
    padding: 0!important; 
    margin: 8px 5px 0 0!important; 
    width: 16px; 
    height: 11px; 
    background: url(https://gogetfunding.com/wp-content/themes/ggf/ms-Dropdown-master/images/msdropdown/icons/flagssprite_small.png) no-repeat; 
    background-image: url("https://gogetfunding.com/wp-content/themes/ggf/ms-Dropdown-master/images/msdropdown/icons/flagssprite_small.png"); 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: initial;
} 

@media all{ 
  .flag { 
    float: left; 
    padding: 0!important; 
    margin: 4px 5px 0 0; 
    width: 16px; 
    height: 11px; 
    background: url(https://gogetfunding.com/wp-content/themes/ggf/ms-Dropdown-master/images/msdropdown/icons/flagssprite_small.png) no-repeat; 
    background-image: url("https://gogetfunding.com/wp-content/themes/ggf/ms-Dropdown-master/images/msdropdown/icons/flagssprite_small.png"); 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: initial;
  } 
}     

.flag.hu { 
    background-position: -16px -517px;
} 

@media all{ 
  .flag.hu { 
    background-position: -16px -517px;
  } 
}     

.campaign-title h5.campaign_by .flag  { 
    margin-right: 0!important; 
    margin-top: 0!important;
} 

.text-cat-sports { 
    color: #ffbe3e;
} 

.campaign-title .category  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 150%;
} 

.text-cat-sports:hover { 
    color: #eeaf33;
} 

.nav-link { 
    display: block; 
    padding: .5rem 1rem;
} 

.nav-tabs .nav-link  { 
    border: 1px solid transparent; 
    border-top-left-radius: .25rem; 
    border-top-right-radius: .25rem;
} 

.campaign-content .nav-item a  { 
    min-width: auto; 
    text-align: center; 
    font-weight: 700; 
    font-size: 18px; 
    line-height: 150%; 
    color: #798798; 
    position: relative; 
    display: flex; 
    padding: 8px; 
    align-items: center; 
    justify-content: center; 
    height: 46px;
} 

.nav-tabs .nav-link.active  { 
    color: #495057; 
    background-color: #fff; 
    border-color: #dee2e6 #dee2e6 #fff;
} 

.campaign-content .nav-tabs .nav-link  { 
    border: 0 solid transparent; 
    border-top-left-radius: 0; 
    border-top-right-radius: 0;
} 

.campaign-content .tab_count_4 .nav-item a  { 
    width: 122px;
} 

.campaign-content .nav-item a.active  { 
    color: #4a90e2;
} 

.campaign-content .nav-item a::after { 
    content: ""; 
    position: absolute; 
    bottom: -3px; 
    left: 0; 
    right: 0; 
    background: #f5f6f7; 
    height: 3px; 
    width: 100%;
} 

.campaign-content .nav-item a.active::after { 
    background: #4a90e2;
} 

.campaign-goal-progress .current-progress ,.icon , .campaign-content .nav-item a.active::after { 
    background: #53ca8b!important;
} 

.campaign-goal-progress .current-progress, .btn.add-new-collection .icon, .campaign-content .nav-item a.active::after { 
    background: #53ca8b!important;
} 

.nav-link:hover { 
    text-decoration: none;
} 

 .nav-tabs .nav-link:hover { 
    border-color: #e9ecef #e9ecef #dee2e6;
} 

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover { 
    border-color: #e9ecef #e9ecef #dee2e6;
} 

.campaign-content .nav-item a:hover { 
    color: #2f435a!important;
} 

.campaign-content .nav-item a:hover, .campaign-content .nav-item a:focus { 
    color: #2f435a!important;
} 

#profileMain { 
    margin-top: 24px; 
    display: flex; 
    justify-content: center; 
    margin-bottom: 36px;
} 

.heading_with_links { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin-top: 52px; 
    margin-bottom: 20px;
} 

.campaign-content .story-content-area  { 
    position: relative; 
    margin-bottom: 0; 
    height: 275px; 
    overflow: hidden; 
    color: #798798;
} 

.campaign-content .story-content-area  { 
    border-bottom: 1px solid #eaebee;
} 

.campaign-content .story-content-area  { 
    font-size: 14px; 
    line-height: 170%;
} 

.gropup_and_report_btn { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 32px; 
    border-top: 1px solid #eaebee; 
    margin-top: 52px;
} 

.campaign_updates_section { 
    padding-bottom: 60px;
} 

.donors_section.full-panel { 
    margin: 0; 
    padding-bottom: 60px;
} 

.followers_section.full-panel { 
    padding-bottom: 60px;
} 

.right-box .sticky-content-area  { 
    width: calc(100% - 56px); 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 32px; 
    padding-bottom: 16px;
} 

sup { 
    position: relative; 
    font-size: 75%; 
    line-height: 0; 
    vertical-align: baseline;
} 

sup { 
    top: -.5em;
} 

sup.count { 
    font-weight: 700; 
    font-size: 14px; 
    line-height: 150%; 
    color: #6ec052; 
    position: relative; 
    top: -6px; 
    left: 4px;
} 

sup.count { 
    color: #5c74ef!important;
} 

.time-left { 
    background: #f5f6f7; 
    border-radius: 8px; 
    display: flex; 
    margin-top: 24px; 
    padding: 8px; 
    overflow: hidden; 
    align-items: center; 
    justify-content: center;
} 

.sticky-content-area .follow_this_campaign  { 
    margin-bottom: 24px; 
    display: flex; 
    justify-content: center;
} 

.P12 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 10px; 
    line-height: 170%; 
    color: #2f435a;
} 

.P12 { 
    font-weight: 400;
} 

.sticky-content-area .bottom_line  { 
    color: #798798; 
    position: relative; 
    padding-top: 16px;
} 

.sticky-content-area .bottom_line::before { 
    content: ""; 
    width: 150%; 
    height: 1px; 
    top: 0; 
    position: absolute; 
    left: -30%; 
    background: #eaebee;
} 

h2 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h2 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h2 { 
    font-size: 2rem;
} 

h2 { 
    margin: 0; 
    padding: 0;
} 

h2 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 30px; 
    line-height: 150%; 
    color: #2f435a;
} 

.text-left { 
    text-align: left!important;
} 

.H3 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 28px; 
    line-height: 150%; 
    color: #2f435a;
} 

h2,.H3 { 
    font-weight: 700;
} 

.heading_with_links h2  { 
    margin: 0!important;
} 

.campaign-content .tab-content h2  { 
    color: #6ec052; 
    margin-bottom: 20px; 
    margin-top: 20px;
} 

.campaign-content .tab-content h2  { 
    color: #5c74ef!important;
} 

p { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

p { 
    margin: 0; 
    padding: 0;
} 

p { 
    color: #2f435a; 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 20px;
} 

.campaign-content .story-content-area p  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 400; 
    color: #798798;
} 

.campaign-content .story-content-area p:not(:last-child)  { 
    margin-bottom: 20px;
} 

.story_content_spacer { 
    height: 20px;
} 

.fundraising-team-row { 
    padding: 16px 24px; 
    border: 1px solid #eaebee; 
    box-sizing: border-box; 
    border-radius: 8px; 
    overflow: hidden;
} 

.report-btn { 
    display: inline-block; 
    width: auto; 
    clear: both; 
    padding: 7px 24px; 
    margin-top: 52px; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
} 

.gropup_and_report_btn #report_img  { 
    margin: 0; 
    border: 0; 
    padding: 0; 
    background: 0 0;
} 

.report-btn:hover { 
    border: 1px solid #4a90e2; 
    background: #eef5fe;
} 

.report-btn:hover { 
    color: #53ca8b!important;
} 

.report-btn:hover { 
    border-color: #38a56b!important;
} 

.report-btn:hover { 
    background-color: #ecf7f0!important;
} 

.fade { 
    transition: opacity .15s linear;
} 

.modal { 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1050; 
    display: none; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    outline: 0;
} 

.modal { 
    background: rgba(47,67,90,.6); 
    padding: 25px 12px!important;
} 

.fade:not(.show) { 
    opacity: 0;
} 

.no-active-campaign-style { 
    font-size: 32px; 
    text-align: center; 
    font-weight: 300; 
    color: #798798; 
    padding-top: 20px; 
    line-height: 1.5; 
    margin-bottom: 10px; 
    margin-top: 52px;
} 

.full-panel .section-heading-row  { 
    margin-top: 32px; 
    margin-bottom: 16px;
} 

.right-box .campaign-amount-raised  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 800; 
    font-size: 36px; 
    line-height: 150%; 
    text-align: center; 
    color: #4a90e2;
} 

.H10 { 
    font-weight: 700;
} 

.right-box .campaign-amount-goal  { 
    line-height: 150%; 
    color: #798798;
} 

.sticky-content-area .share_with_friend  { 
    margin-bottom: 28px;
} 

.campaign-goal-progress .total-progress  { 
    background: #f5f6f7; 
    border-radius: 5px; 
    width: 100%; 
    height: 8px; 
    margin-top: 16px; 
    overflow: hidden;
} 

.time-left .time  { 
    width: calc(80% - 16px); 
    display: inline-block; 
    vertical-align: top;
} 

.sticky-content-area .follow_this_campaign button  { 
    border: 0; 
    background: 0 0; 
    width: auto; 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 16px; 
    line-height: 150%; 
    color: #6ec052; 
    cursor: pointer; 
    outline: none; 
    display: flex; 
    align-items: center;
} 

.sticky-content-area .follow_this_campaign button  { 
    color: #5c74ef!important;
} 

.sticky-content-area .follow_this_campaign button:hover { 
    text-decoration: none;
} 

input { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

input { 
    overflow: visible;
} 

.sticky-content-area .bottom_line .end_time  { 
    color: #000000;
    font-weight: 600;
} 

.col-sm-12 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 576px){ 
  .col-sm-12 { 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

.col-sm-12 { 
    padding-right: 20px; 
    padding-left: 20px;
} 

@media (min-width: 480px){ 
  .col-sm-12 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

.donors-row { 
    padding: 12px 20px 12px 16px; 
    margin-bottom: 12px; 
    border: 1px solid #eaebee; 
    box-sizing: border-box; 
    border-radius: 8px; 
    overflow: hidden; 
    position: relative;
} 

.donors_section .see_all_donors  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 16px; 
    line-height: 150%; 
    text-align: center; 
    color: #4a90e2; 
    margin-top: 32px;
    padding-bottom: 50px;
} 

#see_all_donors { 
    margin-top: 12px; 
    display: inline-block; 
    text-align: center;
} 

.report-btn i  { 
    margin-right: 12px;
} 

.icon.i-flag:before { 
    content: "\0074";
} 

.modal-dialog { 
    position: relative; 
    width: auto; 
    margin: .5rem; 
    pointer-events: none;
} 

.modal-dialog-centered { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    min-height: calc(100% - 1rem);
} 

@media (min-width: 576px){ 
  .modal-dialog { 
    max-width: 500px; 
    margin: 1.75rem auto;
  } 

  .modal-dialog-centered { 
    min-height: calc(100% - 3.5rem);
  } 
}     

.modal-dialog { 
    margin: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 

@media (min-width: 576px){ 
  .modal-dialog { 
    max-width: 644px;
  } 
}     

.modal.fade .modal-dialog  { 
    transition: -webkit-transform .3s ease-out; 
    transition: transform .3s ease-out; 
    transition: transform .3s ease-out,-webkit-transform .3s ease-out; 
    -webkit-transform: translate(0,-50px); 
    transform: translate(0,-50px);
} 

#report_campaign .modal-dialog  { 
    max-width: calc(100% - 20px); 
    width: 644px;
} 

.modal-dialog-centered:before { 
    display: block; 
    height: calc(100vh - 1rem); 
    content: "";
} 

@media (min-width: 576px){ 
  .modal-dialog-centered:before { 
    height: calc(100vh - 3.5rem);
  } 
}     

.modal-dialog-centered:before { 
    display: none;
} 

.col-8 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col-8 { 
    -ms-flex: 0 0 66.666667%; 
    flex: 0 0 66.666667%; 
    max-width: 66.666667%;
} 

.col-8 { 
    padding-right: 20px; 
    padding-left: 20px;
} 

.col-4 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col-4 { 
    -ms-flex: 0 0 33.333333%; 
    flex: 0 0 33.333333%; 
    max-width: 33.333333%;
} 

.text-right { 
    text-align: right!important;
} 

.col-4 { 
    padding-right: 20px; 
    padding-left: 20px;
} 

.lg-btn { 
    font-size: 18px; 
    padding-top: 16.5px; 
    padding-bottom: 16.5px;
} 

.sticky-content-area .share_with_friend button  { 
    padding: 10px 6px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    line-height: 100%;
} 

img { 
    vertical-align: middle; 
    border-style: none;
} 

.img-responsive { 
    display: block; 
    width: 100% \9; 
    max-width: 100%; 
    height: auto;
} 

div#campaign-story #profileMain img  { 
    margin: auto!important; 
    max-height: 346px; 
    width: auto; 
    overflow: hidden; 
    border-radius: 16px;
} 

.campaign-goal-progress .current-progress  { 
    background: #4a90e2; 
    border-radius: 5px; 
    height: 8px;
} 

.col-6 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col-6 { 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%;
} 

.col-6 { 
    padding-right: 20px; 
    padding-left: 20px;
} 

.campaign-goal-progress .progress-in-word  { 
    line-height: 150%; 
    margin-top: 4px;
} 

.campaign-goal-progress .progress-in-word:first-child  { 
    color: #4a90e2;
} 

.text-grayish-blue { 
    color: #798798;
} 

.time-left .clock  { 
    margin-right: 20px; 
    display: inline-block; 
    float: left; 
    display: flex; 
    background-image: url(https://gogetfunding.com/wp-content/themes/ggf/ns/fpage-new/images/clock.svg); 
    width: 32px; 
    height: 32px; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.P9 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 16px; 
    line-height: 170%; 
    color: #2f435a;
} 

.P9 { 
    font-weight: 400;
} 

.H5 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 24px; 
    line-height: 150%; 
    color: #2f435a;
} 

.H5 { 
    font-weight: 700;
} 

.time-left .time .days  { 
    position: relative; 
    padding-right: 15px;
} 

.time-left .time .days::after { 
    content: "d";
} 

.time-left .time .days::after, .time-left .time .hours::after, .time-left .time .minutes::after { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 12px; 
    line-height: 170%; 
    color: #2f435a; 
    position: absolute; 
    bottom: 0; 
    padding-left: 2px; 
    padding-bottom: 3px; 
    text-align: left;
} 

.time-left .time .hours  { 
    position: relative; 
    padding-right: 15px;
} 

.time-left .time .hours::after { 
    content: "h";
} 

.time-left .time .minutes  { 
    position: relative; 
    padding-right: 15px;
} 

.time-left .time .minutes::after { 
    content: "m";
} 

.sticky-content-area .follow_this_campaign button .icon  { 
    margin-right: 12px;
} 

.sticky-content-area .follow_this_campaign button .icon  { 
    font-size: 20px;
} 

.icon.i-heart:before { 
    content: '\007a';
} 

.sticky-content-area .follow_this_campaign button:hover span { 
    position: relative;
} 

.sticky-content-area .follow_this_campaign button:hover span::after { 
    content: ""; 
    width: 100%; 
    height: 1px; 
    position: absolute; 
    left: 0; 
    bottom: -2px; 
    background: #6ec052;
} 

.sticky-content-area .follow_this_campaign button:hover span::after,#basic-button-tab .widget_btn,.bttn.pri ,#t4_widget .widget_btn { 
    background: #5c74ef!important;
} 

.sticky-content-area .follow_this_campaign button:hover span::after, #basic-button-tab .widget_btn, #t3_widget .bttn.pri, #t4_widget .widget_btn { 
    background: #5c74ef!important;
} 

h3 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h3 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h3 { 
    font-size: 1.75rem;
} 

h3 { 
    margin: 0; 
    padding: 0;
} 

h3,.H3 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 28px; 
    line-height: 150%; 
    color: #2f435a;
} 

h3,.H3 { 
    font-weight: 700;
} 

.story-section .section-heading  { 
    color: #6ec052; 
    margin-bottom: 24px; 
    margin-top: 52px;
} 

.story-section .section-heading  { 
    color: #5c74ef!important;
} 

.fundraising-team-row > .row > div  { 
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
    align-items: center;
} 

h3 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 28px; 
    line-height: 150%; 
    color: #2f435a;
} 

h3,.H5 { 
    font-weight: 700;
} 

.donors_section .section-heading  { 
    color: #2f435a;
} 

.modal-content { 
    position: relative; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    width: 100%; 
    pointer-events: auto; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid rgba(0,0,0,.2); 
    border-radius: .3rem; 
    outline: 0;
} 

.modal-content { 
    padding: 40px 56px; 
    border-radius: 16px; 
    background: #fff; 
    border: 0;
} 

#report_campaign .modal-dialog .modal-content  { 
    border-radius: 16px; 
    overflow: hidden;
} 

.modal-content:-webkit-scrollbar { 
    width: 12px;
} 

.modal-content:-webkit-scrollbar-thumb { 
    background-color: darkgrey; 
    outline: 1px solid slategrey;
} 

.modal-content:-webkit-scrollbar-track { 
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
} 

h3 { 
    font-weight: 700;
} 

.donors_section.full-panel .section-heading  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 22px; 
    line-height: 150%; 
    color: #6ec052;
} 

.donors_section.full-panel .section-heading  { 
    color: #5c74ef!important;
} 

.P10 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 14px; 
    line-height: 170%; 
    color: #2f435a;
} 

.P10 { 
    font-weight: 400;
} 

.full-panel .section-heading-row .count  { 
    position: absolute; 
    right: 20px; 
    bottom: 0;
} 

.donors_section.full-panel .donors-count  { 
    color: #798798;
} 

.followers_section.full-panel .section-heading  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 22px; 
    line-height: 150%; 
    color: #6ec052;
} 

.followers_section.full-panel .section-heading  { 
    color: #5c74ef!important;
} 

.followers_section.full-panel .followers-count  { 
    color: #798798;
} 

.col-md-6 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 768px){ 
  .col-md-6 { 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%;
  } 
}     

.col-md-6 { 
    padding-right: 20px; 
    padding-left: 20px;
} 

.text-blue { 
    color: #4a90e2;
} 

@media (min-width: 768px){ 
  .col-md-6 { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%;
  } 
}     

.sticky-content-area .share_with_friend button .icons  { 
    margin-right: 12px;
} 

.fundraising-team-row .member-img  { 
    width: 84px; 
    height: 84px; 
    margin-right: 24px; 
    float: left; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 50%; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.fundraising-team-row .member_info  { 
    width: calc(100% - 108px);
} 

.donors-row .amount_div  { 
    position: absolute; 
    right: 20px; 
    top: 23px;
} 

.modal-body { 
    position: relative; 
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto; 
    padding: 1rem;
} 

.modal-dialog .modal-body  { 
    padding: 0;
} 

#report_campaign .modal-dialog .modal-body  { 
    padding: 40px 56px;
} 

#report_campaign .modal-dialog .modal-body  { 
    padding: 0;
} 

.P11 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 12px; 
    line-height: 170%; 
    color: #2f435a;
} 

.P11 { 
    font-weight: 400;
} 

.time_left_div { 
    width: 100%; 
    display: flex; 
    justify-content: flex-start;
} 

.fundraising-team-row .list-inline  { 
    display: flex; 
    align-items: center;
} 

@media (min-width: 992px){ 
  .d-lg-block { 
    display: block!important;
  } 
}     

.fundraising-team-row .send-message  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 16px; 
    line-height: 150%; 
    color: #4a90e2; 
    margin-top: 12px; 
    display: block;
} 

.no-photo-bg { 
    background-color: #eef5fe; 
    background-image: url(https://gogetfunding.com/wp-content/themes/ggf/ns/fpage-new/images/default-theme-photo.svg);
} 

.no-photo-bg { 
    background-color: #ecf7f0; 
    background-image: url(https://gogetfunding.com/wp-content/themes/ggf/ns/fpage-new/images/calming-theme-photo.svg);
} 

.donors-row .donor-img  { 
    width: 48px; 
    height: 48px; 
    margin-right: 12px; 
    float: left; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 50%; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.donors-row ul  { 
    list-style: none; 
    padding-left: 60px;
} 

.donors-row .donation_amount  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 20px; 
    line-height: 130%; 
    color: #4a90e2;
} 

.donors-row .donation_amount.hidden_amount  { 
    color: #2f435a; 
    font-size: 15px;
} 

form { 
    margin: 0; 
    padding: 0;
} 

.H6 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 22px; 
    line-height: 150%; 
    color: #2f435a;
} 

.H6 { 
    font-weight: 700;
} 

.H8 { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-size: 18px; 
    line-height: 170%; 
    color: #2f435a;
} 

.H8 { 
    font-weight: 700;
} 

.fundraising-team-row .member-name  { 
    line-height: 150%;
} 

.fundraising-team-row .list-inline li  { 
    display: inline-flex; 
    align-items: center;
} 

.donors-row .donor_name  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 16px; 
    line-height: 150%; 
    color: #2f435a;
} 

.donors-row .donation_date  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 170%; 
    color: #798798; 
    margin-top: 0;
} 

#report_campaign h3  { 
    margin-bottom: 37px;
} 

.donors-row .donor_msg  { 
    padding-top: 12px;
} 

.form-group { 
    margin-bottom: 1rem;
} 

#report_campaign .content-item .form-group:not(:last-child)  { 
    margin-bottom: 24px;
} 

.modal p  { 
    line-height: 1.7;
} 

#valid_result { 
    font-size: 14px; 
    width: 100%; 
    text-align: center; 
    font-weight: 700; 
    font-family: 'Bai Jamjuree', sans-serif; 
    color: red;
} 

.mt-52 { 
    margin-top: 52px!important;
} 

.form-control { 
    display: block; 
    width: 100%; 
    height: calc(1.5em + .75rem + 2px); 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #495057; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid #ced4da; 
    border-radius: .25rem; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.form-control { 
    border: 1px solid #eaebee; 
    box-sizing: border-box; 
    border-radius: 8px!important; 
    width: 100%; 
    height: 48px; 
    padding: 0 16px; 
    font-size: 16px; 
    color: #2f435a; 
    transition: .4s;
} 

.donors-row .donor_msg p  { 
    font-family: 'Bai Jamjuree', sans-serif; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 170%; 
    color: #2f435a;
} 

label { 
    display: inline-block; 
    margin-bottom: .5rem;
} 

.text-black { 
    color: #2f435a;
} 

.text-bold { 
    font-weight: 700;
} 

#report_campaign .H8  { 
    margin-bottom: 10px; 
    display: block; 
    line-height: 150%;
} 

.jq-selectbox { 
    border: 1px solid #eaebee; 
    box-sizing: border-box; 
    border-radius: 8px; 
    cursor: pointer; 
    width: 100%; 
    height: 48px;
} 

.jq-selectbox { 
    position: relative; 
    display: inline-block;
} 

.jq-selectbox { 
    z-index: 10;
} 

#report_campaign .js-select  { 
    max-width: 100%;
} 

.jq-selectbox.jqselect:hover { 
    border: 1px solid #798798;
} 

textarea { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

textarea { 
    overflow: auto; 
    resize: vertical;
} 

textarea.form-control { 
    height: auto;
} 

textarea.form-control { 
    padding: 12px 16px; 
    height: 105px; 
    resize: vertical; 
    min-height: 80px;
} 

button { 
    -webkit-appearance: button;
} 

.btn { 
    display: inline-block; 
    font-weight: 400; 
    color: #212529; 
    text-align: center; 
    vertical-align: middle; 
    cursor: pointer; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.btn { 
    border-radius: 8px!important; 
    border: 1px solid #eaebee; 
    background: #fff; 
    box-sizing: border-box; 
    width: 100%; 
    font-weight: 700; 
    font-size: 16px; 
    text-align: center; 
    color: #798798; 
    cursor: pointer; 
    transition: .4s; 
    position: relative; 
    display: inline-block; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    box-shadow: none;
} 

.btn-md { 
    min-height: 48px; 
    height: 48px;
} 

button:not(:disabled) { 
    cursor: pointer;
} 


#report_campaign .btn-row .btn:first-child  { 
    float: left; 
    width: calc(50% - 14px);
} 

.btn:hover { 
    color: #212529; 
    text-decoration: none;
} 

.btn:hover,.btn:active { 
    background: #eef5fe; 
    border: 1px solid #4a90e2; 
    color: #4a90e2; 
    box-shadow: none;
} 

.btn:not(.login_button):not(.register_button):not(.btn-primary):hover,.btn:active { 
    background-color: #ecf7f0!important;
} 


.btn-primary { 
    color: #fff; 
    background-color: #007bff; 
    border-color: #007bff;
} 

.btn-primary { 
    background: #4a90e2; 
    color: #fff; 
    border-color: #4a90e2;
} 

.btn-primary:not(.login_button):not(.register_button) { 
    background: #53ca8b!important; 
    color: #fff!important;
} 

.btn-primary:not(.login_button):not(.register_button) { 
    border-color: #53ca8b!important;
} 

#report_campaign .btn-row .btn:last-child  { 
    float: right; 
    width: calc(50% - 14px);
} 

.btn-primary:hover { 
    color: #fff; 
    background-color: #0069d9; 
    border-color: #0062cc;
} 

.btn-primary:hover,.btn-primary:active { 
    color: #fff; 
    background: #2d6db9;
} 

.btn:active { 
    background-color: #ecf7f0!important;
} 

.btn-primary:not(.login_button):not(.register_button):hover { 
    color: #fff!important;
} 

.btn-primary:not(.login_button):not(.register_button):hover,.btn-primary:active { 
    border-color: #38a56b!important;
} 

select { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

select { 
    text-transform: none;
} 

select { 
    word-wrap: normal;
} 

.jq-selectbox select  { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    opacity: 0; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

.jq-selectbox__select { 
    height: 100%; 
    width: 100%;
} 

.jq-selectbox__select { 
    position: relative;
} 

.jq-selectbox__dropdown { 
    left: 0; 
    right: 0; 
    top: calc(100% + 4px)!important; 
    bottom: auto!important; 
    background: #fff; 
    box-sizing: border-box; 
    border-radius: 8px; 
    box-shadow: 0 10px 30px rgba(0,0,0,.08); 
    max-height: 365px; 
    overflow: auto;
} 

.jq-selectbox__dropdown { 
    position: absolute;
} 

.jq-selectbox__dropdown { 
    width: 100%!important;
} 

#report_campaign .jq-selectbox__dropdown  { 
    width: 100%!important;
} 

.col-3 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col-3 { 
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%; 
    max-width: 25%;
} 

.col-3 { 
    padding-right: 20px; 
    padding-left: 20px;
} 

#report_campaign .code  { 
    background: #eef5fe; 
    border-radius: 8px;
} 

#report_campaign .code  { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    overflow: hidden;
} 

.col-9 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col-9 { 
    -ms-flex: 0 0 75%; 
    flex: 0 0 75%; 
    max-width: 75%;
} 

.pr-0 { 
    padding-right: 0!important;
} 

.col-9 { 
    padding-right: 20px; 
    padding-left: 20px;
} 

.jq-selectbox__select-text { 
    font-size: 16px; 
    line-height: 170%; 
    color: #2f435a; 
    height: 100%; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    padding: 0 40px 0 16px;
} 

.jq-selectbox__select-text { 
    overflow: hidden; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    white-space: nowrap; 
    text-overflow: ellipsis;
} 

.jq-selectbox__trigger { 
    position: absolute; 
    right: 16px; 
    top: 50%; 
    transform: translateY(-50%); 
    font-family: gofund; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.jq-selectbox__trigger:before { 
    content: "\004b";
} 

.jq-selectbox__dropdown ul  { 
    position: relative; 
    overflow: auto; 
    overflow-x: hidden; 
    list-style: none; 
    -webkit-overflow-scrolling: touch; 
    background: #fff;
} 

.jq-selectbox__dropdown li  { 
    padding: 8px 16px; 
    font-size: 16px; 
    line-height: 1.5; 
    color: #2f435a; 
    position: static!important; 
    transform: translate(0)!important;
} 

.jq-selectbox li  { 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    white-space: nowrap;
} 

.jq-selectbox__dropdown .sel  { 
    background: rgba(74,144,226,.1); 
    color: #4a90e2;
} 

.jq-selectbox__dropdown .sel  { 
    background-color: #f5fbf7!important;
} 

.jq-selectbox__dropdown .sel  { 
    color: #53ca8b;
} 

.jq-selectbox__dropdown .sel , .jq-selectbox__dropdown li:hover { 
    background: rgba(74,144,226,.1); 
    color: #4a90e2;
} 

.jq-selectbox__dropdown .sel , .jq-selectbox__dropdown li:hover { 
    background-color: #f5fbf7!important;
} 

.jq-selectbox__dropdown .sel, .jq-selectbox__dropdown li:hover { 
    color: #53ca8b;
} 

.jq-selectbox__dropdown .sel, .jq-selectbox__dropdown li:hover { 
    background: rgba(74,144,226,.1); 
    color: #4a90e2;
} 

.btn-primary.btn-disabled, .rewards_section .rewards-row, .add-image-file:hover, .jq-selectbox__dropdown .sel, .jq-selectbox__dropdown li:hover { 
    background-color: #f5fbf7!important;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#sticky-tabs.style-oToya {  
   position: static;  
    width: auto;  
    top: 0px;  
}  
#profile.style-qP541 {  
   height: 100%;  
    text-align: center;  
}  
#style-SsfCG.style-SsfCG {  
   display:block;  
   height:100%;  
}  
#style-sJOzm.style-sJOzm {  
    object-fit: cover;
   margin:auto;  
}  
#style-Y6yLD.style-Y6yLD {  
   height: auto;  
}  
#style-TtsKy.style-TtsKy {  
   color: #6d8191;  
}  
#style-w1xyh.style-w1xyh {  
   color: #6d8191;  
}  
#style-Vmb9E.style-Vmb9E {  
   color: #6d8191;  
}  
#style-bEGJC.style-bEGJC {  
   margin-bottom: 15px;  
}  
#style-yDXa2.style-yDXa2 {  
   width: 0px;  
    display: none;  
}  
#style-kdR7X.style-kdR7X {  
   transform:scale(1.5);  
}  
#style-MipGi.style-MipGi {  
   color: #6d8191;  
}  
#style-5235C.style-5235C {  
   color: #6d8191;  
}  
#style-qgrgO.style-qgrgO {  
   color: #6d8191;  
}  
#style-t9EY3.style-t9EY3 {  
   color: #6d8191;  
}  
#sticky-area.style-AxkHT {  
   position: static;  
    width: auto;  
    top: 10px;  
}  
#style-SbEmK.style-SbEmK {  
   display: flex;  
   justify-content: center;  
   align-items: center;  
}  
#style-aIkoI.style-aIkoI {  
   height:0px;  
   overflow:hidden;  
}  
#mywidget3.style-DPkOi {  
   width:600px;  
   min-width:600px;  
   height:315px;  
   min-height:315px;  
   display: flex;  
   justify-content: center;  
   align-items: center;  
   background:#ffffff;  
}  
#style-RUcdY.style-RUcdY {  
   border: 1px solid rgb(0 0 0 / 8%);  
   background:#ffffff;  
}  
