@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
*{
    font-family: 'Bai Jamjuree', sans-serif;

}
.icon {
    background-color: var(--secondary-color);
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center; /* Center icon horizontally */
    justify-content: center; /* Center icon vertically */
    margin-right: 0.5em;
}
li:hover{
    background-color: #c3c3f8;
    border-radius: 10px;
    transition-duration: .5s;
}

.div-body{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 20px;
    width: 80%;
    background-color: #faf9f9;
    border: transparent;
    border-radius: 10px;
}
.about-me p{
    text-align: center;
    font-size: small;
    color:#5f615f
}
.sub-div{
    display: grid;
    width: 80%;
    height: 80%;
    grid-template-columns: 20% 80%;
    gap: 30px;
}
.col1{
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 1rem;

}
.col2{
    background-image: url('../images/steptodown.com676640.jpg');
    border-radius: 1rem;
}
.col1-center{
    display: block;
    width: 100%;
    justify-content: center;
}
.tmp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.p-header{
    display: flex;
    width: 100%;
    height: 10px;
    padding-top: 50px;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.navbari {
    height: 100%;
    display: block;
    padding: 1.563em;
    font-weight: 600;
    width: 18.75em;
}

.navbari-nav a {
    display: flex;
    color: var(--secondary-color);
    padding: 1em;
    
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}
li{
    list-style-type: none;
}
ul  {
    padding: 0px;
}
.inside-col-div{
    padding: 50px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.in-col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}
.center{
    display: flex;
    justify-content: center;
}
.in-col2 {
    height: 55vh;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
}
.grid-col-2{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.header{
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 5px dashed #f0f0f0;
}
.title-case{
    text-transform: capitalize;
}
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    clip-path: circle(50%);
}

.info-column{
    display: grid;
    width: 100%;
    padding-left: 20px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 1fr;
}
.password-strength {
    display: block;
    
    font-size: 0.85rem;
}

.password-strength .strength.weak {
    color: #ff6961;
    font-weight: 800;
    
}

.password-strength .strength.medium {
    font-weight: 800;

    color: #f5ce6e; /* Medium color */
}

.password-strength .strength.strong {
    color: #77dd77; /* Strong color */
    font-weight: 800;

}
.password-input-container {
    position: relative;
}

.password-toggle{
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.85rem;
    color: var(--secondary-color);
}