* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.1rem;

}

a {
    text-decoration: none;
}
.heading-section{
    margin-top: 3%;
    text-align: center;
    width: 100%;
}
hr{
    border-top: 1px dotted rgb(169, 165, 165);
}
.terms-inside{
    display: block;
    padding: 5% 12% 6% 12%;
}
h6{
    color:rgb(0, 0, 0);
}
p{
    text-align: justify;
}
ul{
    padding-left: 5%;
}